<app-bubble bubble-title="Summary">

    <app-circle-progress circle-progress="33" padding-right></app-circle-progress>

    <div flex-col flex-1>

      <div class="planner-summary-text" padding-bottom>
        <p>Days Until Wedding</p>
        <h5>421</h5>
      </div>

      <div flex-row>

        <div class="planner-summary-text" flex-1 padding-right>
          <p>Tasks Completed</p>
          <h5>133</h5>
        </div>

        <div class="planner-summary-text" flex-1>
          <p>Tasks Remaining</p>
          <h5>67</h5>
        </div>

      </div>

    </div>

</app-bubble>
